<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>number</key>
		<string>1</string>
		<key>home</key>
		<string>巴西</string>
		<key>away</key>
		<string>克罗地亚</string>
		<key>location</key>
		<string>圣保罗</string>
		<key>time</key>
		<string>2014-06-06 15:57</string>
	</dict>
	<dict>
		<key>number</key>
		<string>2</string>
		<key>home</key>
		<string>墨西哥</string>
		<key>away</key>
		<string>喀麦隆</string>
		<key>location</key>
		<string>纳塔尔</string>
		<key>time</key>
		<string>2014-06-14 00:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>3</string>
		<key>home</key>
		<string>西班牙</string>
		<key>away</key>
		<string>荷兰</string>
		<key>location</key>
		<string>萨尔瓦多</string>
		<key>time</key>
		<string>2014-06-14 03:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>4</string>
		<key>home</key>
		<string>智利</string>
		<key>away</key>
		<string>澳大利亚</string>
		<key>location</key>
		<string>库亚巴</string>
		<key>time</key>
		<string>2014-06-14 06:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>5</string>
		<key>home</key>
		<string>哥伦比亚</string>
		<key>away</key>
		<string>希腊</string>
		<key>location</key>
		<string>贝洛奥里藏特</string>
		<key>time</key>
		<string>2014-06-15 00:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>6</string>
		<key>home</key>
		<string>乌拉圭</string>
		<key>away</key>
		<string>哥斯达黎加</string>
		<key>location</key>
		<string>福塔莱萨</string>
		<key>time</key>
		<string>2014-06-15 03:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>7</string>
		<key>home</key>
		<string>英格兰</string>
		<key>away</key>
		<string>意大利</string>
		<key>location</key>
		<string>玛瑙斯</string>
		<key>time</key>
		<string>2014-06-15 06:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>8</string>
		<key>home</key>
		<string>科特迪瓦</string>
		<key>away</key>
		<string>日本</string>
		<key>location</key>
		<string>累西腓</string>
		<key>time</key>
		<string>2014-06-15 09:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>9</string>
		<key>home</key>
		<string>瑞士</string>
		<key>away</key>
		<string>厄瓜多尔</string>
		<key>location</key>
		<string>巴西利亚</string>
		<key>time</key>
		<string>2014-06-16 00:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>10</string>
		<key>home</key>
		<string>法国</string>
		<key>away</key>
		<string>洪都拉斯</string>
		<key>location</key>
		<string>阿雷格里港</string>
		<key>time</key>
		<string>2014-06-16 03:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>11</string>
		<key>home</key>
		<string>阿根廷</string>
		<key>away</key>
		<string>波黑</string>
		<key>location</key>
		<string>里约热内卢</string>
		<key>time</key>
		<string>2014-06-16 06:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>12</string>
		<key>home</key>
		<string>德国</string>
		<key>away</key>
		<string>葡萄牙</string>
		<key>location</key>
		<string>萨尔瓦多</string>
		<key>time</key>
		<string>2014-06-17 00:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>13</string>
		<key>home</key>
		<string>伊朗</string>
		<key>away</key>
		<string>尼日利亚</string>
		<key>location</key>
		<string>库里奇巴</string>
		<key>time</key>
		<string>2014-06-17 03:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>14</string>
		<key>home</key>
		<string>加纳</string>
		<key>away</key>
		<string>美国</string>
		<key>location</key>
		<string>纳塔尔</string>
		<key>time</key>
		<string>2014-06-17 06:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>15</string>
		<key>home</key>
		<string>比利时</string>
		<key>away</key>
		<string>阿尔及利亚</string>
		<key>location</key>
		<string>贝洛奥里藏特</string>
		<key>time</key>
		<string>2014-06-18 00:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>16</string>
		<key>home</key>
		<string>巴西</string>
		<key>away</key>
		<string>墨西哥</string>
		<key>location</key>
		<string>福塔莱萨</string>
		<key>time</key>
		<string>2014-06-18 03:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>17</string>
		<key>home</key>
		<string>俄罗斯</string>
		<key>away</key>
		<string>韩国</string>
		<key>location</key>
		<string>库亚巴</string>
		<key>time</key>
		<string>2014-06-18 06:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>18</string>
		<key>home</key>
		<string>澳大利亚</string>
		<key>away</key>
		<string>荷兰</string>
		<key>location</key>
		<string>阿雷格里港</string>
		<key>time</key>
		<string>2014-06-19 00:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>19</string>
		<key>home</key>
		<string>西班牙</string>
		<key>away</key>
		<string>智利</string>
		<key>location</key>
		<string>里约热内卢</string>
		<key>time</key>
		<string>2014-06-19 03:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>20</string>
		<key>home</key>
		<string>喀麦隆</string>
		<key>away</key>
		<string>克罗地亚</string>
		<key>location</key>
		<string>玛瑙斯</string>
		<key>time</key>
		<string>2014-06-19 06:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>21</string>
		<key>home</key>
		<string>哥伦比亚</string>
		<key>away</key>
		<string>科特迪瓦</string>
		<key>location</key>
		<string>巴西利亚</string>
		<key>time</key>
		<string>2014-06-20 00:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>22</string>
		<key>home</key>
		<string>乌拉圭</string>
		<key>away</key>
		<string>英格兰</string>
		<key>location</key>
		<string>圣保罗</string>
		<key>time</key>
		<string>2014-06-20 03:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>23</string>
		<key>home</key>
		<string>日本</string>
		<key>away</key>
		<string>希腊</string>
		<key>location</key>
		<string>纳塔尔</string>
		<key>time</key>
		<string>2014-06-20 06:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>24</string>
		<key>home</key>
		<string>意大利</string>
		<key>away</key>
		<string>哥斯达黎加</string>
		<key>location</key>
		<string>累西腓</string>
		<key>time</key>
		<string>2014-06-21 00:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>25</string>
		<key>home</key>
		<string>瑞士</string>
		<key>away</key>
		<string>法国</string>
		<key>location</key>
		<string>萨尔瓦多</string>
		<key>time</key>
		<string>2014-06-21 03:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>26</string>
		<key>home</key>
		<string>洪都拉斯</string>
		<key>away</key>
		<string>厄瓜多尔</string>
		<key>location</key>
		<string>库里奇巴</string>
		<key>time</key>
		<string>2014-06-21 06:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>27</string>
		<key>home</key>
		<string>阿根廷</string>
		<key>away</key>
		<string>伊朗</string>
		<key>location</key>
		<string>贝洛奥里藏特</string>
		<key>time</key>
		<string>2014-06-22 00:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>28</string>
		<key>home</key>
		<string>德国</string>
		<key>away</key>
		<string>加纳</string>
		<key>location</key>
		<string>福塔莱萨</string>
		<key>time</key>
		<string>2014-06-22 03:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>29</string>
		<key>home</key>
		<string>尼日利亚</string>
		<key>away</key>
		<string>波黑</string>
		<key>location</key>
		<string>库亚巴</string>
		<key>time</key>
		<string>2014-06-22 06:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>30</string>
		<key>home</key>
		<string>比利时</string>
		<key>away</key>
		<string>俄罗斯</string>
		<key>location</key>
		<string>里约热内卢</string>
		<key>time</key>
		<string>2014-06-23 00:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>31</string>
		<key>home</key>
		<string>韩国</string>
		<key>away</key>
		<string>阿尔及利亚</string>
		<key>location</key>
		<string>阿雷格里港</string>
		<key>time</key>
		<string>2014-06-23 03:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>32</string>
		<key>home</key>
		<string>美国</string>
		<key>away</key>
		<string>葡萄牙</string>
		<key>location</key>
		<string>玛瑙斯</string>
		<key>time</key>
		<string>2014-06-23 06:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>33</string>
		<key>home</key>
		<string>澳大利亚</string>
		<key>away</key>
		<string>西班牙</string>
		<key>location</key>
		<string>库里奇巴</string>
		<key>time</key>
		<string>2014-06-24 00:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>34</string>
		<key>home</key>
		<string>荷兰</string>
		<key>away</key>
		<string>智利</string>
		<key>location</key>
		<string>圣保罗</string>
		<key>time</key>
		<string>2014-06-24 00:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>35</string>
		<key>home</key>
		<string>喀麦隆</string>
		<key>away</key>
		<string>巴西</string>
		<key>location</key>
		<string>巴西利亚</string>
		<key>time</key>
		<string>2014-06-24 04:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>36</string>
		<key>home</key>
		<string>克罗地亚</string>
		<key>away</key>
		<string>墨西哥</string>
		<key>location</key>
		<string>累西腓</string>
		<key>time</key>
		<string>2014-06-24 04:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>37</string>
		<key>home</key>
		<string>意大利</string>
		<key>away</key>
		<string>乌拉圭</string>
		<key>location</key>
		<string>纳塔尔</string>
		<key>time</key>
		<string>2014-06-25 00:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>38</string>
		<key>home</key>
		<string>哥斯达黎加</string>
		<key>away</key>
		<string>英格兰</string>
		<key>location</key>
		<string>贝洛奥里藏特</string>
		<key>time</key>
		<string>2014-06-25 00:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>39</string>
		<key>home</key>
		<string>日本</string>
		<key>away</key>
		<string>哥伦比亚</string>
		<key>location</key>
		<string>库亚巴</string>
		<key>time</key>
		<string>2014-06-25 04:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>40</string>
		<key>home</key>
		<string>希腊</string>
		<key>away</key>
		<string>科特迪瓦</string>
		<key>location</key>
		<string>福塔莱萨</string>
		<key>time</key>
		<string>2014-06-25 04:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>41</string>
		<key>home</key>
		<string>尼日利亚</string>
		<key>away</key>
		<string>阿根廷</string>
		<key>location</key>
		<string>阿雷格里港</string>
		<key>time</key>
		<string>2014-06-26 00:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>42</string>
		<key>home</key>
		<string>波黑</string>
		<key>away</key>
		<string>伊朗</string>
		<key>location</key>
		<string>萨尔瓦多</string>
		<key>time</key>
		<string>2014-06-26 00:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>43</string>
		<key>home</key>
		<string>洪都拉斯</string>
		<key>away</key>
		<string>瑞士</string>
		<key>location</key>
		<string>玛瑙斯</string>
		<key>time</key>
		<string>2014-06-26 04:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>44</string>
		<key>home</key>
		<string>厄瓜多尔</string>
		<key>away</key>
		<string>法国</string>
		<key>location</key>
		<string>里约热内卢</string>
		<key>time</key>
		<string>2014-06-26 04:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>45</string>
		<key>home</key>
		<string>美国</string>
		<key>away</key>
		<string>德国</string>
		<key>location</key>
		<string>累西腓</string>
		<key>time</key>
		<string>2014-06-27 00:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>46</string>
		<key>home</key>
		<string>葡萄牙</string>
		<key>away</key>
		<string>加纳</string>
		<key>location</key>
		<string>巴西利亚</string>
		<key>time</key>
		<string>2014-06-27 00:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>47</string>
		<key>home</key>
		<string>韩国</string>
		<key>away</key>
		<string>比利时</string>
		<key>location</key>
		<string>圣保罗</string>
		<key>time</key>
		<string>2014-06-27 04:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>48</string>
		<key>home</key>
		<string>阿尔及利亚</string>
		<key>away</key>
		<string>比利时</string>
		<key>location</key>
		<string>库里奇巴</string>
		<key>time</key>
		<string>2014-06-27 04:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>49</string>
		<key>home</key>
		<string>1A</string>
		<key>away</key>
		<string>2B</string>
		<key>location</key>
		<string>贝洛奥里藏特</string>
		<key>time</key>
		<string>2014-06-29 00:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>50</string>
		<key>home</key>
		<string>1C</string>
		<key>away</key>
		<string>2D</string>
		<key>location</key>
		<string>里约热内卢</string>
		<key>time</key>
		<string>2014-06-29 04:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>51</string>
		<key>home</key>
		<string>1B</string>
		<key>away</key>
		<string>2A</string>
		<key>location</key>
		<string>福塔莱萨</string>
		<key>time</key>
		<string>2014-06-30 00:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>52</string>
		<key>home</key>
		<string>1D</string>
		<key>away</key>
		<string>2C</string>
		<key>location</key>
		<string>累西腓</string>
		<key>time</key>
		<string>2014-06-30 04:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>53</string>
		<key>home</key>
		<string>1E</string>
		<key>away</key>
		<string>2F</string>
		<key>location</key>
		<string>巴西利亚</string>
		<key>time</key>
		<string>2014-07-01 00:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>54</string>
		<key>home</key>
		<string>1G</string>
		<key>away</key>
		<string>2H</string>
		<key>location</key>
		<string>阿雷格里港</string>
		<key>time</key>
		<string>2014-07-01 04:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>55</string>
		<key>home</key>
		<string>1F</string>
		<key>away</key>
		<string>2E</string>
		<key>location</key>
		<string>圣保罗</string>
		<key>time</key>
		<string>2014-07-02 00:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>56</string>
		<key>home</key>
		<string>1H</string>
		<key>away</key>
		<string>2G</string>
		<key>location</key>
		<string>萨尔瓦多</string>
		<key>time</key>
		<string>2014-07-02 04:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>57</string>
		<key>home</key>
		<string>W53</string>
		<key>away</key>
		<string>W54</string>
		<key>location</key>
		<string>里约热内卢</string>
		<key>time</key>
		<string>2014-07-05 00:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>58</string>
		<key>home</key>
		<string>W49</string>
		<key>away</key>
		<string>W50</string>
		<key>location</key>
		<string>福塔莱萨</string>
		<key>time</key>
		<string>2014-07-05 04:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>59</string>
		<key>home</key>
		<string>W55</string>
		<key>away</key>
		<string>W56</string>
		<key>location</key>
		<string>巴西利亚</string>
		<key>time</key>
		<string>2014-07-06 00:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>60</string>
		<key>home</key>
		<string>W51</string>
		<key>away</key>
		<string>W52</string>
		<key>location</key>
		<string>萨尔瓦多</string>
		<key>time</key>
		<string>2014-07-06 04:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>61</string>
		<key>home</key>
		<string>W57</string>
		<key>away</key>
		<string>W58</string>
		<key>location</key>
		<string>贝洛奥里藏特</string>
		<key>time</key>
		<string>2014-07-09 04:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>62</string>
		<key>home</key>
		<string>W59</string>
		<key>away</key>
		<string>W60</string>
		<key>location</key>
		<string>圣保罗</string>
		<key>time</key>
		<string>2014-07-10 04:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>63</string>
		<key>home</key>
		<string>L61</string>
		<key>away</key>
		<string>L62</string>
		<key>location</key>
		<string>巴西利亚</string>
		<key>time</key>
		<string>2014-07-13 04:00</string>
	</dict>
	<dict>
		<key>number</key>
		<string>64</string>
		<key>home</key>
		<string>W61</string>
		<key>away</key>
		<string>W62</string>
		<key>location</key>
		<string>里约热内卢</string>
		<key>time</key>
		<string>2014-07-14 03:00</string>
	</dict>
</array>
</plist>
